{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
{% with request.resolver_match.view_name as view_name %}
  {% if view_name == 'blog:edit_post' %}
    Редактирование публикации
  {% elif view_name == 'blog:delete_post' %}
    Удаление публикации
  {% else %}
    Добавление публикации
  {% endif %}
{% endwith %}
{% endblock %}
{% block content %}
{% with request.resolver_match.view_name as view_name %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if view_name == 'blog:edit_post' %}
          Редактирование публикации
        {% elif view_name == 'blog:delete_post' %}
          Удаление публикации
        {% else %}
          Добавление публикации
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% if view_name != 'blog:delete_post' %}
            {% bootstrap_form form %}
          {% else %}
            <article>
              {% with obj=form.instance %}
              {% if obj.image %}
                <a href="{{ obj.image.url }}" target="_blank">
                  <img class="border-3 rounded img-fluid img-thumbnail mb-2" src="{{ obj.image.url }}">
                </a>
              {% endif %}
              <p>{{ obj.pub_date|date:"d E Y" }} | {% if obj.location and obj.location.is_published %}{{ obj.location.name }}{% else %}Планета Земля{% endif %}<br>
              <h3>{{ obj.title }}</h3>
              <p>{{ obj.text|linebreaksbr }}</p>
              {% endwith %}
            </article>
          {% endif %}
          {% bootstrap_button button_type="submit" content="Отправить" %}
        </form>
      </div>
    </div>
  </div>
{% endwith %}
{% endblock %}